python-dotenv
psutil
requests
google-api-python-client
git+https://github.com/interactions-py/library.git@improved-error-handling
interactions-wait-for
git+https://github.com/Catalyst4222/interactions-tasks.git@master
googletrans==3.1.0a0
git+https://github.com/interactions-py/enhanced@main
dinteractions-Paginator
interactions-files
dinteractions-Paginator
colorama
pyfiglet
Pillow
better-profanity
